

 @-webkit-keyframes swiper-preloader-spin {
     0% {
         -webkit-transform: rotate(0);
     }
     8.33333333% {
         -webkit-transform: rotate(30deg);
     }
     16.66666667% {
         -webkit-transform: rotate(60deg);
     }
     25% {
         -webkit-transform: rotate(90deg);
     }
     33.33333333% {
         -webkit-transform: rotate(120deg);
     }
     41.66666667% {
         -webkit-transform: rotate(150deg);
     }
     50% {
         -webkit-transform: rotate(180deg);
     }
     58.33333333% {
         -webkit-transform: rotate(210deg);
     }
     66.66666667% {
         -webkit-transform: rotate(240deg);
     }
     75% {
         -webkit-transform: rotate(270deg);
     }
     83.33333333% {
         -webkit-transform: rotate(300deg);
     }
     91.66666667% {
         -webkit-transform: rotate(330deg);
     }
     100% {
         -webkit-transform: rotate(360deg);
     }
 }
 @keyframes swiper-preloader-spin {
     0% {
         transform: rotate(0);
     }
     8.33333333% {
         transform: rotate(30deg);
     }
     16.66666667% {
         transform: rotate(60deg);
     }
     25% {
         transform: rotate(90deg);
     }
     33.33333333% {
         transform: rotate(120deg);
     }
     41.66666667% {
         transform: rotate(150deg);
     }
     50% {
         transform: rotate(180deg);
     }
     58.33333333% {
         transform: rotate(210deg);
     }
     66.66666667% {
         transform: rotate(240deg);
     }
     75% {
         transform: rotate(270deg);
     }
     83.33333333% {
         transform: rotate(300deg);
     }
     91.66666667% {
         transform: rotate(330deg);
     }
     100% {
         transform: rotate(360deg);
     }
 }
  




.f-cb {
  zoom: 1;
}

.f-cb:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  content: ".";
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.por {
  position: relative;
}

.poa {
  position: absolute;
}

.pof {
  position: fixed;
}

.poa-f {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ovh {
  overflow: hidden;
}

.noselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.dn {
  display: none;
}

.dib {
  display: inline-block;
}

.w-f {
  width: 100%;
}

.h-f {
  height: 100%;
}

.fwn {
  font-weight: normal;
}

.tac {
  text-align: center;
}

.t-f {
  transition: all 0.5s;
}

.t-c {
  transition: color 0.5s;
}

.t-bg {
  transition: background 0.5s;
}



